# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd

# --- Virtual Environment ---
venv/
.env/
.env.*
.venv/
.venv

.ssh/
.ssh
# --- Jupyter ---
.ipynb_checkpoints/

# --- Credentials / Secrets ---
*.json
!requirements.txt

# --- Data files ---
*.parquet
*.csv

# --- OS files ---
.DS_Store
Thumbs.db

# --- Logs ---
*.log
